{% load templateFilter %}

{% for crew in crews %}
<div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>{{ crew.name }} </h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Time</th>
                    <th>Bowside</th>
                    <th>Strokeside</th>
                    <th>Combined</th>
                    <th>Cox</th>
                    <th>Coach</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for event in crew.getEvents %}
                {% if event.is_confirmed %}
                <tr class="success">
                    {% elif event.is_canceled %}
                <tr class="danger">
                    {% else %}
                <tr>
                    {% endif %}
                    <th scope="row">{{event.starting_time}}</th>
                    <td>{{event.strokeside.count}}</td>
                    <td>{{event.bowside.count}}</td>
                    <td>{{event.members.count}}</td>
                    <td>
                        {% if event.cox %}
                        {{event.cox.fullname}}
                        {% else %}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if event.coaches %}
                        {{event.coaches.fullname}}
                        {% else %}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% endif %}
                    </td>

                    <td>
                        {% if not org and not cox and not coach %}
                            {% if event|couldJoinIn:rower %}
                            <a href="/organizer/outing/{{event.id}}/?action=stroke&typ=row" class="btn btn-success">Stroke</a>
                            <a href="/organizer/outing/{{event.id}}/?action=bow&typ=row" class="btn btn-success">Bow</a>
                            {% elif event|isRowIn:rower %}
                            <a href="/organizer/outing/{{event.id}}/?action=leave&typ=row" class="btn btn-danger">OptOut</a>
                            {% endif %}
                        {% elif cox %}
                            {% if event|couldJoinIn:rower and not event.cox %}
                            <a href="/organizer/outing/{{event.id}}/?action=join&typ=cox" class="btn btn-success">Cox</a>
                            {% elif event|isCoxIn:rower %}
                            <a href="/organizer/outing/{{event.id}}/?action=leave&typ=cox" class="btn btn-danger">OptOut</a>
                            {% endif %}
                        {% elif coach %}
                            {% if event|couldJoinIn:rower and not event.coaches%}
                            <a href="/organizer/outing/{{event.id}}/?action=join&typ=coach" class="btn btn-success">Coach</a>
                            {% elif event|isCoachIn:rower %}
                            <a href="/organizer/outing/{{event.id}}/?action=leave&typ=coach" class="btn btn-danger">OptOut</a>
                            {% endif %}
                        {% elif org %}
                            {% if not event.is_confirmed %}
                            <a href="/organizer/outing/{{event.id}}/?action=confirm&typ=organize" class="btn btn-success">Confirm</a>
                            {% elif event.is_confirmed and not event.is_canceled %}
                            <a href="/organizer/outing/{{event.id}}/?action=cancel&typ=organize" class="btn btn-danger">Cancel</a>
                            {% else %}
                            <a href="/organizer/outing/{{event.id}}/?action=confirm&typ=organize" class="btn btn-warning">Reconfirm</a>
                            {% endif %}
                        {% endif %}

                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-default" href="/organizer/crew/{{crew.name}}" role="button">Go to Crew</a>
        </div>
    </div>
{% endfor %}
