<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" type="text/css" href="/static/css/bar.css">

    <head>
        <title> Champs Rowing</title>
    </head>

    {% block bar %}
    {% endblock bar %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <body>
    {% block main %}{% endblock main %}
    </body>
</html>
